.deps
.gdb_history
.libs/
Makefile
Makefile.in
*~
src/socksv5
src/*.o
src/*.gcno
src/*.gcda
src/*.log
src/*.trs
src/*.log
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.log
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.status
/config.h
/ar-lib
/libtool
/ltmain.sh
/test-driver
/.autotools
/.cproject
/.project
/.settings/
/src/.libs/
/src/*.lo
/src/*.la
/src/*test
/tests/check_hello
